body {
    font-family: "ubuntu", sans-serif;
    color: #333;
    line-height: 1.5;
}

a, a:hover {
    color: #A15506;
    text-decoration: none;
    word-break: break-word;
}

pre code {
    margin: 0 0;
    padding: 0 0;
    border: transparent;
    background-color: transparent;
    border-radius: 0px;
}

code {
    margin: 0 2px;
    padding: 0px 5px;
    /* background-color: #f8f8f8; */
    background-color: #FAF0E6;
    border-radius: 3px;
}

blockquote {
    margin-left: 0.2rem;
    font-style: italic;
    font-size: 1.0rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: #A15506;
    /* border-color: #5506A1; */
    padding-left: 10px;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    background-color: transparent !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: raleway,sans-serif;
    line-height: 1.1;
    /* color: #333; */
    font-weight: 300;
}

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.wrapper {
    max-width: 820px;
    padding: 0 15px;
    margin: 0 auto;
}
